{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}LITReview{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'reviews/css/styles.css' %}">
</head>

<body
    class="{% if request.resolver_match.url_name == 'login' or request.resolver_match.url_name == 'signup' %}no-menu{% endif %}">

    <header class="header-bar">
        <h1>LITReview</h1>
        <div class="menu">
            <a href="{% url 'feed' %}">Flux</a>
            <p>Posts</p>
            <p>Abonnements</p>
            <a class="header-user" href="{% url 'logout' %}">
                Déconnecter {{ request.user.username }}
            </a>
        </div>
    </header>



    <main>
        {% block content %}{% endblock %}
    </main>

</body>

</html>