{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}LITReview{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'reviews/css/styles.css' %}">
</head>

<body>

    <header class="header-bar">
        <h1>LITReview</h1>
        {% if request.user.is_authenticated %}
        <div class="menu">
            <a href="{% url 'feed' %}">Flux</a>
            <p>Posts</p>
            <a href="{% url 'follow' %}">Abonnements</a>
            <a class="header-user" href="{% url 'logout' %}">
                Déconnecter {{ request.user.username }}
            </a>
        </div>
        {% endif %}

    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

</body>

</html>