<!-- login.html -->
{% extends "reviews/base.html" %}

{% block title %}LITReview - Login{% endblock %}

{% block content %}
<div class="login_window">

    <div class="login_signup">
        <div class="tit_box">Inscrivez-vous maintenant</div>
        <a class="btn" href="{% url 'signup' %}">S'inscrire</a>
    </div>

    <div class="card">
        <div class="connection">
            <div class="tit_box">Connectez-vous</div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn">Se connecter</button>
            </form>
        </div>
    </div>

</div>
{% endblock %}