{% extends "reviews/base.html" %}

{% block title %}LITReview - Signup{% endblock %}

{% block content %}
<div class="signup_box">

    <!-- Bloc vertical : titre + champs -->
    <div class="signup_fields">
        <div class="tit_box">Inscrivez-vous</div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <!-- Bloc horizontal : actions -->
            <div class="signup_actions">
                <a href="{% url 'login' %}" class="btn">Retourner</a>
                <button type="submit" class="btn">S'inscrire</button>
            </div>
        </form>
    </div>

</div>
{% endblock %}