{% extends "reviews/base.html" %}

{% block title %}Create Ticket{% endblock %}

{% block content %}
<div class="ticket_box">
    <h2>Create a new ticket</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        {% if form.instance.image %}
        <p>Current image:</p>
        <img src="{{ form.instance.image.url }}" alt="Ticket image" width="200">
        {% endif %}

        <button type="submit" class="btn">Create</button>
    </form>
</div>
{% endblock %}