# Virtual environment
env/

# macOS system files
.DS_Store

# Logs & temp files
*.log
*.tmp

# Python cache
**/__pycache__/
*.py[cod]

# VSCode settings
.vscode/

# Database (if you don't want to version it)
db.sqlite3

# Local data folder
data/